<header>
  <nav class="core-header container">
    <a class="core-header__brand" href="https://www.linkedin.com/in/jeremy-james-sangutan-73b528249/" target="_blank" rel="noopener noreferrer">
      <img src="component-assets/images/JJS.png" alt="JJS">
    </a>

    <ul class="core-header__links">
      <li>
        <a routerLink="/"> About me </a>
      </li>
      <li>
        <a routerLink="/contact"> Skills </a>
      </li>
      <li>
        <a routerLink="/projects"> Projects </a>
      </li>
    </ul>
    <a class="core-header__buttons" routerLink="/contact">
      Hire Me
    </a>
  </nav>
</header>
