// Utility
$base-size: 1;
$wide-pc-min-height-header: pxToRem(88);
$tab-min-height-header: pxToRem(78);
$sp-min-height-header: pxToRem(70);

// Media
$bp-wide: pxToRem(1240);
$bp-pc: pxToRem(1024);
$bp-tablet: pxToRem(768);
$bp-mobile: pxToRem(480);

// Font styles
$ff-woodchuck: 'Woodchuck',
sans-serif;
$title-font: "Woodchuck",
sans-serif;
$text-font: "Woodchuck",
sans-serif;

// font size
