@import "styles.scss";

.side-navigation {
  position: relative;
  width: 250px;
}

.side-menu-branding {
  text-align: center;
  padding: 10px;
}

.side-menu-branding img {
  width: 50px;
}

.side-menu-navigation {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  padding: 10px 15px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #ddd;
}

.menu-item-icon {
  margin-right: 10px;
}

.expandable-item .sub-menu {
  display: none;
  list-style-type: none;
  padding-left: 20px;
}

.expandable-item.active .sub-menu {
  display: block;
}

.menu-item.active {
  background-color: #ccc;
}
