<section class="mv">
  <article class="content">
    <strong class="triangle-isosceles">Hi, I am  </strong>
    <h1>
      JJS
    </h1>
    <h3>
      A Computer Engineering graduate from USJR
    </h3>
    <div class="link">
      <a href="https://myjobstreet.jobstreet.com.ph/resume/attachment.php?tk=1&rid=10275338268"><div>Download CV</div></a>
      <a href=""><div>My Work</div></a>
    </div>
  </article>
  <article class="image">
    <img src="component-assets/images/quas.png" id="quas" alt="">
    <img src="component-assets/images/wex.png" id="wex" alt="">
    <img src="component-assets/images/ex.png" id="ex" alt="">
    <img src="component-assets/images/invoker.png" id="invoker" alt="">
  </article>
  <a href="#skills">
    <img src="meteor.png" class="meteor" alt="">
  </a>
</section>

