<div class="main-container">
  <core-header-layout />

  <main class="body-container">
    <div class="navigation-container">
      <core-navigation-layout />
    </div>
    <div class="feature-container">
      <button class="navbar-toggler" type="button" (click)="toggleMenu()">
        <span class="navbar-toggler-icon">
          <i class="bi bi-list"></i>
        </span>
      </button>

      <div class="collapse navbar-collapse" [ngClass]="{'show': menuOpen}">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Another Link</a>
          </li>
        </ul>
      </div>
      <router-outlet />
    </div>
  </main>

  <core-footer-layout />

</div>
