/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
VARIABLE FOR MIXINS _media.scss
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
$base-size: 1;

$bp-wide: 1240px;
$bp-pc: 1024px;
$bp-tab: 768px;
$bp-sp: 480px;

// -bs-breakpoint-xs: 0;
//     --bs-breakpoint-sm: 576px;
//     --bs-breakpoint-md: 768px;
//     --bs-breakpoint-lg: 992px;
//     --bs-breakpoint-xl: 1200px;
//     --bs-breakpoint-xxl: 1400px;

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
VARIABLE FOR MIXINS _font-line.scss
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
$font-size-base: 16;

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
VARIABLE FOR ROOT _font.scss
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
$ff-woodchuck: 'Woodchuck',
sans-serif;

$padding-header-top: 88px;
